body {
  font-family: "Manrope", sans-serif;
}

.container {
  place-items: center;
  width: 55%;
  margin-top: 100px;

  border-radius: 10px;
  overflow: hidden;
}
.profile {
  border-radius: 50%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
button {
  background: white;
  border: 1px solid transparent;
  padding: 0 5px;
  border-radius: 50%;
}
button .share {
  display: none;
}

button:hover {
  display: block;
  background: hsl(212, 23%, 69%);
  color: white;
}
